ServiceChannelNotesUpdateUtility/ConsoleApp1/Web References/SDiEmailUtilityService/EmailServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sdiexchange.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sdiexchange.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sdiexchange.com/">
      <s:element name="EmailUtilityServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MAILBCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttachmentName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachmentbytes" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="EmailUtilityServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailUtilityServicesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailUtilityServicesSPCT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MAILBCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttachmentName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachmentbytes" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailUtilityServicesSPCTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailUtilityServicesSPCTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmailUtilityServicesSoapIn">
    <wsdl:part name="parameters" element="tns:EmailUtilityServices" />
  </wsdl:message>
  <wsdl:message name="EmailUtilityServicesSoapOut">
    <wsdl:part name="parameters" element="tns:EmailUtilityServicesResponse" />
  </wsdl:message>
  <wsdl:message name="EmailUtilityServicesSPCTSoapIn">
    <wsdl:part name="parameters" element="tns:EmailUtilityServicesSPCT" />
  </wsdl:message>
  <wsdl:message name="EmailUtilityServicesSPCTSoapOut">
    <wsdl:part name="parameters" element="tns:EmailUtilityServicesSPCTResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailServicesSoap">
    <wsdl:operation name="EmailUtilityServices">
      <wsdl:input message="tns:EmailUtilityServicesSoapIn" />
      <wsdl:output message="tns:EmailUtilityServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailUtilityServicesSPCT">
      <wsdl:input message="tns:EmailUtilityServicesSPCTSoapIn" />
      <wsdl:output message="tns:EmailUtilityServicesSPCTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailServicesSoap" type="tns:EmailServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmailUtilityServices">
      <soap:operation soapAction="http://www.sdiexchange.com/EmailUtilityServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUtilityServicesSPCT">
      <soap:operation soapAction="http://www.sdiexchange.com/EmailUtilityServicesSPCT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailServicesSoap12" type="tns:EmailServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmailUtilityServices">
      <soap12:operation soapAction="http://www.sdiexchange.com/EmailUtilityServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUtilityServicesSPCT">
      <soap12:operation soapAction="http://www.sdiexchange.com/EmailUtilityServicesSPCT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailServices">
    <wsdl:port name="EmailServicesSoap" binding="tns:EmailServicesSoap">
      <soap:address location="http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailServicesSoap12" binding="tns:EmailServicesSoap12">
      <soap12:address location="http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>